<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">分类管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{:url('Category/cateAdd')}">分类添加</a></dd>
            <dd><a href="{:url('Category/cateList')}">分类展示</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">文章管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{:url('Text/textAdd')}">文章添加</a></dd>
            <dd><a href="{:url('Text/textShow')}">文章展示</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  <div class="layui-body" style="padding: 15px;">