<div style="padding:15px">
<form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <div class="layui-form-item">
        <label class="layui-form-label">文章名称</label>
        <div class="layui-input-inline">
            <!--  -->
          <input type="text" name="text_name" required lay-verify="required|username"   placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
      </div>
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">文章描述</label>
    <div class="layui-input-inline">
      <textarea placeholder="请输入内容" class="layui-textarea" name="text_text"></textarea>
    </div>
  </div>
  <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">文章分类</label>
      <div class="layui-input-inline">
        <select>
          {volist name="cateInfo" id="v"}
          <option   id="cateaa" cate_id="{$v.cate_id}" value="{$v.cate_id}">{$v.cate_name}</option>
          {/volist}
        </select>
      </div>
    </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
  <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
<script>
  layui.use(['form','layer'],function(data){
    var form=layui.form;
    var layer=layui.layer;
  form.on('submit(*)', function(data){
    var text_name=data.field.text_name;
    var text_text=data.field.text_text;
    var cate_id=$('#cateaa').attr('cate_id');
  $.post(
    "{:url('Text/textAdd')}",
    {text_name:text_name,text_text:text_text,cate_id:cate_id},
    function(res){
      console.log(res);
      layer.msg(res.font,{icon:res.code});
        if(res.code==1){
          layer.open({
                    content: '🐖恭喜小主，添加成功'
                    ,btn:['继续添加','进入展示页面']
                    ,yes:function(index,layero){
                    location.href="{:url('Text/textAdd')}";
                    },
                    btn2:function(index,layero){
                        location.href="{:url('Text/textShow')}"
                    }
                    ,cancel: function(){
                        location.href="{:url('Text/textShow')}"
                    }
                })
            }else{
                layer.alert(res.font,{icon:res.code});
            }
        },
        'json'
        );
  return false;
});
});
</script>
</body>
</html>